.locate-position {
    position: relative;
    top: 40px;
}

.note-container {
    width: 590px;
    /* width: 100%; */
    margin: 0px auto;
    padding: 0px 0;
    background: #ffffff;
    font-size: 0.875rem;
    box-shadow: 0 0 1px 0 #000000;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    padding: .5em 0;
}

.wrapper:first-child {
    border-top: 1px solid #ccc;
}

.text-wrapper {
    line-height: 0.9375rem;
}

.text-wrapper a {
    text-decoration: none;
    line-height: 1.2;
    margin: 0 3px;
}

.text-wrapper a.ellipsis:after {
    content: '...'
}

.text-wrapper a:hover {
    text-decoration: underline;
}

.small {
    font-size: 0.75rem;
    color: #808080;
}

.space {
    padding: .3em .7em;
}

.text-wrapper {
    padding-top: .1em;
}

.date>a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 590px) {
    .note-container {
        width: 100%;
    }
}