@font-face {
    font-family: 'iconfont';
    /* project id 670155 */
    src: url('//at.alicdn.com/t/font_670155_21f2hy2mkzus1yvi.eot');
    src: url('//at.alicdn.com/t/font_670155_21f2hy2mkzus1yvi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_670155_21f2hy2mkzus1yvi.woff') format('woff'), url('//at.alicdn.com/t/font_670155_21f2hy2mkzus1yvi.ttf') format('truetype'), url('//at.alicdn.com/t/font_670155_21f2hy2mkzus1yvi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    letter-spacing: 1px;
    font-style: normal;
    -webkit-text-stroke-width: 0.2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .icon-link:before { content: "\e66a"; } */

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: #e0e0e0;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

@media (max-width: 400px) {
    html {
        font-size: 18px;
    }
}